ENGINE=GEMINI
GEMINI_API_KEY="🥲-SIEMANKO-TU-API-KEY-🥲"
MODEL_NAME="gemini-2.5-flash"
GEMINI_TOP_K=50
GEMINI_TOP_P=0.95
GEMINI_TEMPERATURE=0.8

# ENGINE=LLAMA_CPP
# MODEL_NAME=llama-3.1-8b-instruct
# LLAMA_MODEL_PATH=/TWOJA_SCIEZKA_DO_MODELU/llama.cpp/NAZWA_MODELU.gguf
# LLAMA_GPU_LAYERS=1
# LLAMA_CONTEXT_SIZE=2048

#ENGINE=OLLAMA
#OLLAMA_MODEL_NAME=gemma3:4b
#OLLAMA_MODEL_NAME_ACTUAL=gemma3:4b
#OLLAMA_BASE_URL=http://localhost:11434
#OLLAMA_REQUEST_TIMEOUT=300
#OLLAMA_TOP_K=50
#OLLAMA_TOP_P=0.95
#OLLAMA_TEMPERATURE=0.8
